//features - explore the world etc. in the skewed bg image
.feature-box {
    background-color: rgba($color-white, .8); //opacity of 20%
    font-size: 1.5rem; //p which has the class of .feature-box__text inherits this font size
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .2s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; //it'll clip the linear gradient to where the text is
        color: transparent; //this is done to show the clipped gradient behind the text
        display: inline-block; //to restrict the gradient's/background image's width to the text

        //It might have occupied the full width if it was a block element
        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }


}